main aside {
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 0 5px 3px #bbb;
  box-shadow: 0 0 5px 3px #bbb;
  border-radius: 5px; }

* {
  padding: 0;
  font-family: "RobotoRegular", sans-serif; }

header {
  width: 100%;
  color: #fff;
  background-color: #0161A3;
  padding: 10px 0;
  margin-bottom: 15px; }
  header .row {
    margin: 0; }
    header .row .brand-logo {
      font-size: 30px;
      vertical-align: middle; }
    header .row .user img {
      width: 48px;
      vertical-align: middle; }

main .row .col {
  padding: 0; }

main .row .col.s2 {
  padding-left: 25px; }

main menu li a {
  padding: 0px 10px; }
  main menu li a i.small {
    font-size: 30px;
    padding-right: 10px; }
  main menu li a p {
    display: inline-block;
    font-size: 16px;
    padding-right: 4px; }
  main menu li a span.badge {
    background-color: #0382C3;
    color: #fff;
    border-radius: 4px;
    margin: 0;
    min-width: 22px;
    padding: 0 4px;
    float: none; }

main menu li:hover, main menu li.active {
  background-color: #E4F6FE; }

main .row .col.s3 {
  margin: 0 25px; }

main aside {
  width: 100%;
  padding: 0; }
  main aside img {
    width: 80%;
    margin: 30px auto;
    display: block; }
  main aside hr {
    border: none;
    border-bottom: 1px solid #eee;
    margin: 0; }
  main aside button {
    margin: 20px;
    width: calc(100% - 40px); }
