$color-brand: #0382C3
$cokor_header: #0161A3

*
	margin: 
	padding: 0
	font-family: "RobotoRegular", sans-serif

header
	width: 100%
	color: #fff
	background-color: $cokor_header
	padding: 10px 0
	margin-bottom: 15px
	.row
		margin: 0
		.brand-logo
			font-size: 30px
			vertical-align: middle
		.user
			img
				width: 48px
				vertical-align: middle	